PORT=8787
PUBLIC_BASE_URL=http://127.0.0.1:8787

SPECTRUM_PROJECT_ID=
SPECTRUM_PROJECT_SECRET=
SPECTRUM_WEBHOOK_SECRET=

FAMILY_NUMBER=+15555550100
HUB_PHONE_NUMBER=
DEMO_EMERGENCY_NUMBER=+15555550199
HOME_ADDRESS=14 Oak Street
HOME_CODE=OAK-14

ALLOW_REAL_911=false
